<div class="jumbotron">
  <h1 class="display-4">Olá, mundo!</h1>
  <p class="lead">Seja bem-vindo ao banco de Devs.</p>
  <hr class="my-4">
  <p>Se você é um Dev e está procurando novas oportunidades, clique em Cadastrar para criar sua conta.</p>
  <p>Se você busca um Dev para desenvolver soluções, clique em Listar Devs para visualizar nossos cadastros.</p>
  <a class="btn btn-primary btn-lg" href="/formulario" role="button">Cadastrar</a>
  <a class="btn btn-primary btn-lg" href="/listaCadastro" role="button">Listar Devs</a>
</div>